In [ ]:
#TOPIC: String Based Assignment Problem

In [4]:
#1. Write a program to reverse a string.
str1="pwskills"
print(str1[::-1])

sllikswp

In [6]:
str1="my name is pwskills"
str2=""
for i in str1:
    str2=i+str2
print(str2)

sllikswp si eman ym

In [8]:
#2. Check if a string is a palindrome.
str1=input("enter the string")
if str1==str1[::-1]:
    print("string is palindrom")
else:
    print("string is not palindrom")

enter the string malayalam

string is palindrom

In [9]:
#3. Convert a string to uppercase.
str1="pwskills"
print(str1.upper())

PWSKILLS

In [10]:
#4. Convert a string to lowercase.
str1="PWSKILLS"
print(str1.lower())

pwskills

In [13]:
#5. Count the number of vowels in a string.
str1="ThIs course is Full stack data scine pro batch"
str1=str1.lower()
count_v=0
for i in str1:
    if i in ["a","e","i","o","u"]:
        count_v+=1
print(count_v)

13

In [14]:
#6. Count the number of consonants in a string.
str1="ThIs course is Full stack data scine pro batch"
str1=str1.lower()
count_v=0
consonants=set("bcdfghjklmnpqrstvwxyz")
for i in str1:
    if i in consonants:
        count_v+=1
print(count_v)

25

In [16]:
#7. Remove all whitespaces from a string.
str1="ThIs course is Full stack data scine pro batch"
print(str1.replace(" ",""))

ThIscourseisFullstackdatascineprobatch

In [18]:
#8. Find the length of a string without using the `len()` function.
str1="ThIs course is Full stack data scine pro batch"
str_len=0
for i in str1:
    str_len+=1
print(str_len)

46

In [1]:
#9. Check if a string contains a specific word.
str1="ThIs course is Full stack data scine pro batch"
str_word="full"
str1=str1.lower()
if str_word in str1:
    print("full is present in string")
else:
    print("full is not present in string")

full is present in string

In [3]:
#10. Replace a word in a string with another word.
str1="ThIs course is Full stack data scine pro batch"
str1=str1.lower()
print(str1.replace("scine","science"))

this course is full stack data science pro batch

In [4]:
#11. Count the occurrences of a word in a string.
str1="ThIs course in pwskills is Full stack data pwskills scine pro batch pwskills"
str1=str1.lower()
words_str1=str1.split()
target_word="pwskills"
count=0
for word in words_str1:
 if word==target_word:
    count+=1
print(count)

3

In [12]:
#12. Find the first occurrence of a word in a string.
str1="ThIs course in pwskills is Full stack data pwskills scine pro batch pwskills"
str1=str1.lower()
print(str1.find("pwskills"))

15

In [13]:
#. Find the last occurrence of a word in a string.
str1="ThIs course in pwskills is Full stack data pwskills scine pro batch pwskills"
str1=str1.lower()
print(str1.rfind("pwskills"))

68

In [14]:
#14. Split a string into a list of words.
str1="ThIs course in pwskills is Full stack data pwskills scine pro batch pwskills"
print(str1.split())

['ThIs', 'course', 'in', 'pwskills', 'is', 'Full', 'stack', 'data', 'pwskills', 'scine', 'pro', 'batch', 'pwskills']

In [17]:
#15. Join a list of words into a string.
words=["this","is","pwskills","class"]
string=" ".join(words)
print(string)

this is pwskills class

In [18]:
#16. Convert a string where words are separated by spaces to one where words are separated by underscores.
str1="ThIs course in pwskills is Full stack data pwskills scine pro batch pwskills"
str2=str1.replace(" ","_")
print(str2)

ThIs_course_in_pwskills_is_Full_stack_data_pwskills_scine_pro_batch_pwskills

In [26]:
#17. Check if a string starts with a specific word or phrase.
str1="ThIs course in pwskills is Full stack data pwskills scine pro batch pwskills"
print(str1.startswith("ThIs"))

True

In [29]:
#18. Check if a string ends with a specific word or phrase.
str1="ThIs course in pwskills is Full stack data pwskills scine pro batch pwskills"
print(str1.endswith("pwskills"))

True

In [31]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").
str1="ThIs course in pwskills is Full stack data pwskills scine pro batch pwskills"
print(str1.title())

This Course In Pwskills Is Full Stack Data Pwskills Scine Pro Batch Pwskills

In [41]:
#20. Find the longest word in a string.
str1="This course in pwskills is Full stack data"
str1=str1.lower()
words=str1.split()
longest_word_len=0
longest_word=""
for i in words:
    if len(i)>longest_word_len:
        longest_word_len=len(i)
        longest_word=i

print(longest_word)

pwskills

In [49]:
#21. Find the shortest word in a string.
str1="This course in pwskills is Full stack data"
str1=str1.lower()
words=str1.split()
shotest_word_len=float('inf')
shotest_word=""
for i in words:
    if len(i)<shotest_word_len:
        shotest_word_len=len(i)
        shotest_word=i

print(shotest_word)

in

In [54]:
#22. Reverse the order of words in a string.
str1="This course in pwskills is Full stack data"
str1=str1.lower()
words=str1.split()
print(" ".join(words[::-1]))

data stack full is pwskills in course this

In [58]:
#23. Check if a string is alphanumeric.
str1="datascience235"
bool(str1.isalnum())

True

In [59]:
#24. Extract all digits from a string.
str1="my name is 3654346 but hfsj 457fjghl4875 8kj9kj94"
digit=""
for i in str1:
    if i.isdigit():
        digit+=i
        
print(digit)

365434645748758994

In [60]:
#25. Extract all alphabets from a string
str1="my name is 3654346 but hfsj 457fjghl4875 8kj9kj94"
alphabets=""
for i in str1:
    if i.isalpha():
       alphabets+=i
        
print(alphabets)

mynameisbuthfsjfjghlkjkj

In [66]:
x="".join([char for char in str1 if char.isalpha()]) 
x

'mynameisbuthfsjfjghlkjkj'

In [72]:
#26. Count the number of uppercase letters in a string.
str1="ThIs course in pwskills is Full stack Data pwskills scine Pro batch pwskills"
a=[char for char in str1 if char.isupper()]
len(a)

5

In [74]:
#27. Count the number of lowercase letters in a string.
str1="ThIs Data"
print(sum(1 for char in str1 if char.islower()))

5

In [75]:
#28. Swap the case of each character in a string.
str1="ThIs Data"
print(str1.swapcase())

tHiS dATA

In [76]:
#29. Remove a specific word from a string.
str1="ThIs course in pwskills is Full stack Data pwskills scine Pro batch pwskills"
str2="pwskills"
words=str1.split()
new_str=" ".join([char for char in words if str2!=char])
print(new_str)

ThIs course in is Full stack Data scine Pro batch

In [1]:
#30. Check if a string is a valid email address.
import re
def is_valid_email(email):
     # Regular expression pattern for a valid email address
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
         # Use re.match to check if the email matches the pattern
    if re.match(pattern,email):
            return True
    else:
            return False
# Example usage:
email = "pwskills@email.com"
if is_valid_email(email):
    print(f"{email} is a valid email address.")
else:
    print(f"{email} is not a valid email address.")

pwsills@email.com is a valid email address.

In [2]:
#31. Extract the username from an email address string.
email = "pwskills@email.com"
print(email.split("@")[0])

pwskills

In [3]:
#32. Extract the domain name from an email address string.
email = "aniket.verma@tridentindia.com"
print(email.split("@")[1])

tridentindia.com

In [4]:
#33. Replace multiple spaces in a string with a single space.
str1="Hi    my  name is Pwskills  whats   your    "
print(" ".join(str1.split()))

Hi my name is Pwskills whats your

In [5]:
#34. Check if a string is a valid URL.
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False

# Example URLs
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  # Should print True
print(result2)  # Should print False

True
False

In [1]:
#35. Extract the protocol (http or https) from a URL string.url1 = "https://www.example.com"
url1 = "https://www.example.com"
print(url1.split("://")[0])

https

In [5]:
#36. Find the frequency of each character in a string.
str1="ThIs course in pwskills is Full stack Data pwskills scine Pro batch pwskills"
str1=str1.lower()
char_count={}
for i in str1:
    if i in char_count:
        char_count[i]+=1
    else:
        char_count[i]=1
        
for char,count in char_count.items():
    print(f"character {char} and its count is {count}")

character t and its count is 4
character h and its count is 2
character i and its count is 7
character s and its count is 11
character   and its count is 12
character c and its count is 4
character o and its count is 2
character u and its count is 2
character r and its count is 2
character e and its count is 2
character n and its count is 2
character p and its count is 4
character w and its count is 3
character k and its count is 4
character l and its count is 8
character f and its count is 1
character a and its count is 4
character d and its count is 1
character b and its count is 1

In [8]:
#37. Remove all punctuation from a string.
import string

def remove_punctuation(input_string):
    # Create a translation table to remove punctuation
    translator = str.maketrans("", "", string.punctuation)

    # Use the translation table to remove punctuation from the input string
    clean_string = input_string.translate(translator)

    return clean_string

# Example string with punctuation
input_str = "Hello, world! How's it going?"

# Remove punctuation
cleaned_str = remove_punctuation(input_str)

# Print the cleaned string
print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: Hello, world! How's it going?
Cleaned string: Hello world Hows it going

In [13]:
#38. Check if a string contains only digits.
str1="83478dnmflkhr948357msmnfd34875snfmd387"
str2="98346583"
print(bool(str1.isdigit()))
print(bool(str2.isdigit()))

False
True

In [14]:
#39. Check if a string contains only alphabets.
str1="83478dnmflkhr948357msmnfd34875snfmd387"
str2="pwskillsmdbfkjdh"
print(bool(str1.isalpha()))
print(bool(str2.isalpha()))

False
True

In [15]:
#40. Convert a string to a list of characters.
str1="djgiyrgjhlfjsdkfhuyrdh"
lst=list(str1)
lst

['d',
 'j',
 'g',
 'i',
 'y',
 'r',
 'g',
 'j',
 'h',
 'l',
 'f',
 'j',
 's',
 'd',
 'k',
 'f',
 'h',
 'u',
 'y',
 'r',
 'd',
 'h']

In [16]:
#41. Check if two strings are anagrams.
str1="listen"
str2="silent"
print("is string anagrams",bool(sorted(str1)==sorted(str2)))

is string anagrams True

In [17]:
#42. Encode a string using a Caesar cipher.
# Define a function named caesar_cipher that encodes a string using a Caesar cipher.
def caesar_cipher(text, shift):
  # Initialize an empty string to store the encoded text.
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text:
    # Check if the character is alphabetic.
    if char.isalpha():
      # Calculate the encoded character's Unicode code point value by shifting it by the specified amount.
      # Ensure the value wraps around within the lowercase alphabet range (a-z).
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

# Define the input text and the shift value for encoding.
text = "Hello, world!"
shift = 3

# Call the caesar_cipher function to encode the text using the specified shift.
encoded_text = caesar_cipher(text, shift)

# Print the encoded text.
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

In [20]:
#43. Decode a Caesar cipher encoded string.
# Define a function to decode a string using a Caesar cipher
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)
# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

In [21]:
#44. Find the most frequent word in a string.

from collections import Counter
import re

def most_frequent_word(text):
    # Tokenize the string into words (split by whitespace)
    words = re.findall(r'\b\w+\b', text.lower())  # Convert to lowercase for case insensitivity

    # Count the occurrences of each word using Counter
    word_counts = Counter(words)

    # Find the most common word(s)
    most_common_words = word_counts.most_common()

    # Handle multiple words with the same highest count
    highest_count = most_common_words[0][1]
    most_frequent = [word for word, count in most_common_words if count == highest_count]

    return most_frequent, highest_count

# Example usage:
text = "This is an example. This is just an example, but it's a good example."
most_frequent, highest_count = most_frequent_word(text)

print(f"The most frequent word(s) is/are: {', '.join(most_frequent)}")
print(f"It occurs {highest_count} times.")

The most frequent word(s) is/are: example
It occurs 3 times.

In [22]:
#45. Find all unique words in a string.
import re

def unique_words(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words and convert to a set for uniqueness
    words = set(clean_string.split())

    return words

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find unique words
unique_word_set = unique_words(input_str)

# Print the result
print("Unique words:", unique_word_set)

Unique words: {'there', 'hello', 'the', 'world', 'hows'}

In [23]:
#46. Count the number of syllables in a string.

import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

In [24]:
#47. Check if a string contains any special characters.
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    # Use the search() method to find a match
    match = pattern.search(input_string)

    # Return True if a match is found, False otherwise
    return bool(match)

# Example strings
string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"

# Check if strings contain special characters
result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)

# Print the results
print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

In [25]:
#48. Remove the nth word from a string.
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(words):
        # Remove the nth word by excluding it from the words list
        removed_word = words.pop(n - 1)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

# Example string and n value
input_str = "This is an example sentence to test the function."
n_value = 4

# Remove the nth word
modified_str, removed_word = remove_nth_word(input_str, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

In [28]:
#49. Insert a word at the nth position in a string.
def insert_word_at_nth_position(original_string, word_to_insert, n):
    if n < 0:
        n = 0
    elif n > len(original_string):
        n = len(original_string)
    
    # Slice the original string into two parts and insert the word in between
    result_string = original_string[:n] + word_to_insert + original_string[n:]
    
    return result_string

# Example usage:
original_text = "This is an example sentence."
word_to_insert = "new"
position_to_insert = 6

new_text = insert_word_at_nth_position(original_text, word_to_insert, position_to_insert)
print(new_text)

This inews an example sentence.

In [29]:
#50. Convert a CSV string to a list of lists.
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

In [ ]:
'''------------------------------List Based Practice Problem--------------------------------------------'''

In [32]:
#1. Create a list with integers from 1 to 10.
print([x for x in range(1,11)])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
#2. Find the length of a list without using the `len()` function.
lst=[3,6,8,9,4,3,5,7,9]
count=0
for i in lst:
    count+=1
print(count)

9

In [46]:
#3. Append an element to the end of a list.
lst=[3,6,8,9,4,3,5,7,9]
lst.append(10)
print(lst)

[3, 6, 8, 9, 4, 3, 5, 7, 9, 10]

In [47]:
#4. Insert an element at a specific index in a list.
lst=[3,6,8,9,4,3,5,7,9]
lst.insert(6,10)
print(lst)

[3, 6, 8, 9, 4, 3, 10, 5, 7, 9]

In [49]:
#5. Remove an element from a list by its value.
lst=[3,6,8,9,4,3,5,7,10]
lst.remove(4)
print(lst)

[3, 6, 8, 9, 3, 5, 7, 10]

In [55]:
#6. Remove an element from a list by its index.
lst=[3,6,8,9,4,3,5,7,10]
lst.pop(5)
print(lst)

[3, 6, 8, 9, 4, 5, 7, 10]

In [59]:
#7. Check if an element exists in a list.
lst=[3,6,8,9,4,3,5,7,10]
y=lambda x: x in lst 
print(y(10))

True

In [61]:
#8. Find the index of the first occurrence of an element in a list.
lst=[3,6,8,9,4,3,5,4,7,10]
print(lst.index(9))

3

In [65]:
#9. Count the occurrences of an element in a list.
lst=[3,6,8,9,4,3,5,4,7,10,4,10]
print(lst.count(10))

2

In [66]:
#10. Reverse the order of elements in a list.
lst=[3,6,8,9,4,3,5,4,7,10,4,10]
print(lst[::-1])

[10, 4, 10, 7, 4, 5, 3, 4, 9, 8, 6, 3]

In [5]:
#11. Sort a list in ascending order.
lst=[3,6,8,9,4,454,78,21,98,1,68,3,5,4,7,10,4,10]
lst.sort()
print(lst)

[1, 3, 3, 4, 4, 4, 5, 6, 7, 8, 9, 10, 10, 21, 68, 78, 98, 454]

In [6]:
#12. Sort a list in descending order.
lst=[3,6,8,9,4,454,78,21,98,1,68,3,5,4,7,10,4,10]
lst.sort(reverse=True)
print(lst)

[454, 98, 78, 68, 21, 10, 10, 9, 8, 7, 6, 5, 4, 4, 4, 3, 3, 1]

In [2]:
#13. Create a list of even numbers from 1 to 20.
lt_even=[x for x in range(1,21) if x%2==0]
lt_even

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [2]:
#14. Create a list of odd numbers from 1 to 20.
lt_odd=[x for x in range(1,21) if x%2!=0]
lt_odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [7]:
#15. Find the sum of all elements in a list.
lt_odd 
print(sum(lt_odd))

100

In [9]:
#16. Find the maximum value in a list.
print(max(lt_odd))

19

In [10]:
#17. Find the minimum value in a list.
print(min(lt_odd))

1

In [12]:
#18. Create a list of squares of numbers from 1 to 10.
lt_sq=[x*x for x in range(1,10)]
print(lt_sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
#19. Create a list of random numbers.
import random
lt_rand=[random.randint(1,100) for i in range(10)]
print(lt_rand)

[83, 48, 49, 88, 26, 40, 16, 6, 5, 71]

In [18]:
#20. Remove duplicates from a list.
lt=[4,6,8,3,78,0,2,67,56,89,80,435,56,7,745,54,4,5,6,7,9]
print(list(set(lt)))

[0, 2, 3, 4, 67, 6, 7, 8, 745, 5, 9, 78, 80, 435, 54, 56, 89]

In [20]:
#21. Find the common elements between two lists.
lt1=[3,4,6,7,8,9,6,4,6,9]
lt2=[3,4,5,7,9,0,4]
for i in list(set(lt1)):
    for j in list(set(lt2)):
        if i==j:
            print(i)

3
4
7
9

In [22]:
lt=[ele for ele in set(lt1) if ele in set(lt2)]
print(lt)

[3, 4, 7, 9]

In [23]:
lts=list(set(lt1).intersection(set(lt2)))
print(lts)

[9, 3, 4, 7]

In [26]:
#22. Find the difference between two lists.
lt_diff=list(set(lt1).difference(set(lt2)))
print(lt_diff)

[8, 6]

In [30]:
#23. Merge two lists.
print(list(set(lt1+lt2)))

[0, 3, 4, 5, 6, 7, 8, 9]

In [33]:
#24. Multiply all elements in a list by 2.
lm=[x*2 for x in lt1]
print(list(set(lm)))

[6, 8, 12, 14, 16, 18]

In [34]:
#25. Filter out all even numbers from a list
lm_even=[x for x in lt1 if x%2==0]
print(lm_even)

[4, 6, 8, 6, 4, 6]

In [36]:
#26. Convert a list of strings to a list of integers.
lt1=['1','2','3','4']
lt2=[int(i) for i in lt1]
print(lt2)

[1, 2, 3, 4]

In [38]:
#27. Convert a list of integers to a list of strings.
lt3=[str(i) for i in lt2]
print(lt3)

['1', '2', '3', '4']

In [39]:
#28. Flatten a nested list.
lt1=[1,2,3,545,[4,5,7,[3,4,6,[5,6,7,9],6],5],8]

def flatten_list(lt1):
    flattened =[]
    for i in lt1:
        if isinstance(i,list):
            flattened.extend(flatten_list(i))
        else:
            flattened.append(i)
    return flattened

print(flatten_list(lt1))

[1, 2, 3, 545, 4, 5, 7, 3, 4, 6, 5, 6, 7, 9, 6, 5, 8]

In [50]:
#29. Create a list of the first 10 Fibonacci numbers.
fibonaci_num=[0,1]
for i in range(2,10):
    fib_sum=fibonaci_num[i-1]+fibonaci_num[i-2]
    fibonaci_num.append(fib_sum)
print(fibonaci_num)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [58]:
#30. Check if a list is sorted.
def sorted_list(lt):
    for i in range(1,len(lt)):
        if lt[i]<lt[i-1]:
            return False
    return True

lt=[5,4,6,7]
print(sorted_list(lt))

False

In [60]:
#31. Rotate a list to the left by `n` positions.
lt=[1,2,3,4,5,6,7,8,9]
n=4
rotate=lt[n:]+lt[:n]

print(rotate)

[5, 6, 7, 8, 9, 1, 2, 3, 4]

In [62]:
#32. Rotate a list to the right by `n` positions.
lt=[1,2,3,4,5,6,7,8,9]
n=4
rotate=lt[-n:]+lt[:-n]

print(rotate)

[6, 7, 8, 9, 1, 2, 3, 4, 5]

In [73]:
#33. Create a list of prime numbers up to 50.
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

# Create a list of prime numbers up to 50
prime_numbers = [num for num in range(2, 51) if is_prime(num)]

# Print the list of prime numbers
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [75]:
#34. Split a list into chunks of size `n`.
lt=[1,2,3,4,5,7,99,8,9]
n=2
lt2=[lt[i:i+n] for i in range(0,len(lt),n)]
print(lt2)

[[1, 2], [3, 4], [5, 7], [99, 8], [9]]

In [81]:
#35. Find the second largest number in a list.

my_list = [10, 5, 20, 15, 30, 25,45,76,35,6,657]

sorted_list = sorted(set(my_list))

if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)

Second largest number: 76

In [83]:
#36. Replace every element in a list with its square.
l2=[x*x for x in lt]
print(l2)

[1, 4, 9, 16, 25, 49, 9801, 64, 81]

In [86]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values.
l2
dic={element:indices for element,indices in enumerate(l2)}
print(dic)

{0: 1, 1: 4, 2: 9, 3: 16, 4: 25, 5: 49, 6: 9801, 7: 64, 8: 81}

In [89]:
#38. Shuffle the elements of a list randomly.
import random
random.shuffle(l2)
print(l2)

[25, 16, 9, 64, 81, 1, 49, 4, 9801]

In [92]:
#39. Create a list of the first 10 factorial numbers.
def factorial(num):
    if num==1 or num==0:
        return 1
    else:
        return num*factorial(num-1)
lt=[factorial(num) for num in range(10)]
print(lt)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [96]:
#40. Check if two lists have at least one element in common.
l1=[2,3,5,6,7]
l2=[3,4,6,7,8]
for i in l1:
    if i in l2:
        print(True)
print(False)

True
True
True
False

In [97]:
#41. Remove all elements from a list.
l2.clear()
print(l2)

[]

In [99]:
#42. Replace negative numbers in a list with 0.
l1=[1,3,-5,-8,-9,6]
for i in range(0,len(l1)):
    if l1[i]<0:
        l1[i]=0        
print(l1)

[1, 3, 0, 0, 0, 6]

In [100]:
#43. Convert a string into a list of words.
str1="ThIs course in pwskills is Full stack Data pwskills scine Pro batch pwskills"
lt_st=str1.split()
print(lt_st)

['ThIs', 'course', 'in', 'pwskills', 'is', 'Full', 'stack', 'Data', 'pwskills', 'scine', 'Pro', 'batch', 'pwskills']

In [101]:
#44. Convert a list of words into a string.
string=" ".join(lt_st)
print(string)

ThIs course in pwskills is Full stack Data pwskills scine Pro batch pwskills

In [102]:
#45. Create a list of the first `n` powers of 2.
n=5
lt=[2**i for i in range(n)]
print(lt)

[1, 2, 4, 8, 16]

In [104]:
#46. Find the longest string in a list of strings.
lt_st
longest_str=""
for i in lt_st:
    if len(i)>len(longest_str):
        longest_str=i
print(longest_str)

pwskills

In [105]:
#47. Find the shortest string in a list of strings.
lt_st
longest_str=lt_st[0]
for i in lt_st:
    if len(i)<len(longest_str):
        longest_str=i
print(longest_str)

in

In [106]:
#48. Create a list of the first `n` triangular numbers.
lt=[i*(i+1)/2 for i in range(6)]
print(lt)

[0.0, 1.0, 3.0, 6.0, 10.0, 15.0]

In [108]:
#49. Check if a list contains another list as a subsequence.
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

In [109]:
#50. Swap two elements in a list by their indices.
l=[1,4,6,8,90,45,6,7,8]
temp=l[2]
l[2]=l[5]
l[5]=temp
print(l)

[1, 4, 45, 8, 90, 6, 6, 7, 8]

In [ ]:
#-------------------Tuple Based Practice Problem :-------------------------

In [5]:
#1. Create a tuple with integers from 1 to 5.
tuple_new=(1,2,3,4,5)
tuple_new
type(tuple_new)

tuple

In [7]:
#2. Access the third element of a tuple.
ele3=tuple_new[2]
ele3

3

In [8]:
#3. Find the length of a tuple without using the `len()` function.
len_tup=0
for i in tuple_new:
    len_tup+=1
print(len_tup)

5

In [11]:
#4. Count the occurrences of an element in a tuple.
tup=(1,2,3,4,5,4,3,2,3,4,5)
ele=4
count=0
for i in tup:
    if i==ele:
        count+=1
print(f"element {ele} occurs {count} times")

element 4 occurs 3 times

In [12]:
#5. Find the index of the first occurrence of an element in a tuple.
tup=(1,2,3,4,5,4,3,2,3,4,5)
ele=4
first_occ=tup.index(ele)
print(f"first occurrence of an element {ele} in a tuple is {first_occ}")

first occurrence of an element 4 in a tuple is 3

In [15]:
#6. Check if an element exists in a tuple.
tup=(1,2,3,4,5,4,3,2,3,4,5)
if 5 in tup:
    print("yes")
else:
    print("no")

yes

In [19]:
#7. Convert a tuple to a list.
list_tup=list(tup)
list_tup

[1, 2, 3, 4, 5, 4, 3, 2, 3, 4, 5]

In [20]:
#8. Convert a list to a tuple.
lt=[1,2,4,5,7,8,9,5,4,6,8]
tip1=tuple(lt)
tip1

(1, 2, 4, 5, 7, 8, 9, 5, 4, 6, 8)

In [24]:
#9. Unpack the elements of a tuple into variables.
tup=(1,2,3,4)
a,b,c,d=tup
print(c)

3

In [28]:
#10. Create a tuple of even numbers from 1 to 10.
lt=[num for num in range(2,11,2)]
tup=tuple(lt)
tup

(2, 4, 6, 8, 10)

In [29]:
#11. Create a tuple of odd numbers from 1 to 10.
lt=[num for num in range(1,10,2)]
tup=tuple(lt)
tup

(1, 3, 5, 7, 9)

In [30]:
#12. Concatenate two tuples.
t1=(1,2,3,4,5)
t2=(6,7,8,9,0)
tt=t1+t2
tt

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [31]:
#13. Repeat a tuple three times.
t1=(1,2,3,4,5)
t3=3*t1
t3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [40]:
#14. Check if a tuple is empty.
tup=(3)
if not tup:
    print("empty")
else:
    print("not empty")

not empty

In [41]:
#15. Create a nested tuple.
tup1=(1,2,3,(5,6,(7,8),0,),10)
type(tup1)

tuple

In [42]:
#16. Access the first element of a nested tuple.
print(tup1[0])

1

In [45]:
#17. Create a tuple with a single element.
tup=(1,)
type(tup)

tuple

In [50]:
#18. Compare two tuples.
t1=(1,2,3,4)
t2=(1,2)
if t1==t2:
    print("not equal")
elif t1<t2:
    print("t2 is bigger")
elif t1>t2:
    print("t1 is bigger")
else:
    print("dont know")

t1 is bigger

In [53]:
#19. Delete a tuple.
t1=(1,2,3,4)
t1
del t1
print(t1)

NameError: name 't1' is not defined

In [55]:
#20. Slice a tuple
t1=(1,2,3,4)
t2=t1[1:3]
t2

(2, 3)

In [56]:
#21. Find the maximum value in a tuple.
tup=(3,4,5,8,3,9,35,97)
t1=max(tup)
t1

97

In [57]:
#22. Find the minimum value in a tuple.
tup=(3,4,5,8,3,9,35,97)
t1=min(tup)
t1

3

In [58]:
#23. Convert a string to a tuple of characters.
string="sudhanshu"
tup=tuple(string)
tup

('s', 'u', 'd', 'h', 'a', 'n', 's', 'h', 'u')

In [60]:
#24. Convert a tuple of characters to a string.
string1="".join(tup)
string1

'sudhanshu'

In [62]:
#25. Create a tuple from multiple data types.
tup=(1,3.6,"sudhansu",[2,4,6])
tup

(1, 3.6, 'sudhansu', [2, 4, 6])

In [64]:
#26. Check if two tuples are identical.
t1=(1,2,3)
t2=(1,2)
print(t1==t2)

False

In [69]:
#27. Sort the elements of a tuple.
t1=(3,6,2,9,3,43464,768,23,769,80,34,24)
sorted(t1,reverse=True)

[43464, 769, 768, 80, 34, 24, 23, 9, 6, 3, 3, 2]

In [72]:
#28. Convert a tuple of integers to a tuple of strings.
tup=(1,2,3,4,5)
tup2=tuple([str(i) for i in tup])
tup2

('1', '2', '3', '4', '5')

In [73]:
#29. Convert a tuple of strings to a tuple of integers.

tup3=tuple([int(i) for i in tup2])
tup3

(1, 2, 3, 4, 5)

In [74]:
#30. Merge two tuples.
t1=(1,2,3,4)
t2=(6,7,8)
tt=t1+t2
tt

(1, 2, 3, 4, 6, 7, 8)

In [79]:
#31. Flatten a nested tuple.
def flat_tup(nest_tup):
    flatten_tup=[]
    for ele in nest_tup:
        if isinstance(ele,tuple):
            flatten_tup.extend(flat_tup(ele))
        else:
            flatten_tup.append(ele)
    return flatten_tup

nest_tup=(1,2,(3,4,(5,6,(7,8),9),10,11),12)

flatten=tuple(flat_tup(nest_tup))

print(flatten)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)

In [8]:
#32. Create a tuple of the first 5 prime numbers.

def prim_num(num):
    if num<=1:
        return False
    for i in range(2,int(num**0.5)+1):
            if num%i==0:
                return False
    return True
            
prime_numbers=[num for num in range(2,100) if prim_num(num)]

prime_tup=tuple(prime_numbers)

print(prime_tup)

(2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97)

In [20]:
#33. Check if a tuple is a palindrome.
tup=(1,2,3,0,0,3,2,1)
tup1=tup[::-1]
bool(tup==tup1)

True

In [15]:
#34. Create a tuple of squares of numbers from 1 to 5.
lt=[num*num for num in range(1,6)]
print(tuple(lt))

(1, 4, 9, 16, 25)

In [24]:
#35. Filter out all even numbers from a tuple.
tup=(1,2,3,45,4,6,7,67,89,56,34,90,43)
tup1=tuple(num for num in tup if num%2!=0)
print(tup1)

(1, 3, 45, 7, 67, 89, 43)

In [23]:
#36. Multiply all elements in a tuple by 2.
tup
tup_new=tuple(num*2 for num in tup)
tup_new

(2, 4, 6, 90, 8, 12, 14, 134, 178, 112, 68, 180, 86)

In [26]:
#37. Create a tuple of random numbers.
import random
tup_rand=tuple(random.randint(1,40) for i in range(10))
tup_rand

(28, 21, 34, 2, 2, 15, 39, 5, 23, 6)

In [30]:
#38. Check if a tuple is sorted.
tup1=(1,3,54,33,78,7634,5,78,435,657,878)
tup2=sorted(tup1)

def tup_sort(tup):
    for i in range(len(tup)-1):
        if tup[i]>tup[i+1]:
            return False
    return True
print("tuple is sorted",tup_sort(tup2))
print("tuple is not sorted",tup_sort(tup1))

tuple is sorted True
tuple is not sorted False

In [32]:
#39. Rotate a tuple to the left by `n` positions.
n=5
tup=(1,2,3,4,56,7,89,56,43,45,65)
tup1=tup[n:]+tup[:n]
tup1

(7, 89, 56, 43, 45, 65, 1, 2, 3, 4, 56)

In [33]:
#40. Rotate a tuple to the right by `n` positions.
n=5
tup=(1,2,3,4,56,7,89,56,43,45,65)
tup1=tup[-n:]+tup[:-n]
tup1

(89, 56, 43, 45, 65, 1, 2, 3, 4, 56, 7)

In [45]:
#41. Create a tuple of the first 5 Fibonacci numbers.
def fib_num(n):
    if n<=1:
        return n
    else:
        return fib_num(n-1)+fib_num(n-2)

fib_tup=tuple(fib_num(num) for num in range(5))
print(fib_tup)

(0, 1, 1, 2, 3)

In [49]:
#42. Create a tuple from user input.
tup=tuple(input("enter the tuple"))
tup

enter the tuple 12344

('1', '2', '3', '4', '4')

In [59]:
#43. Swap two elements in a tuple.
tup=(1,2,5,6,78,9)
tup=list(tup)
tup[2],tup[3]=tup[3],tup[2]
tuple(tup)

(1, 2, 6, 5, 78, 9)

In [61]:
#44. Reverse the elements of a tuple.
tup=(1,2,3,4,5,6,90)
print(tup[::-1])

(90, 6, 5, 4, 3, 2, 1)

In [64]:
#45. Create a tuple of the first `n` powers of 2.
tup=tuple(2**n for n in range(10))
tup

(1, 2, 4, 8, 16, 32, 64, 128, 256, 512)

In [82]:
#46. Find the longest string in a tuple of strings.
tup=["sudh","kumar","krish","naik"]
longest_string=max(tup,key=len)
longest_string

'kumar'

In [83]:
#47. Find the shortest string in a tuple of strings.
tup=["sudh","kumar","krish","naik"]
short_string=min(tup,key=len)
short_string

'sudh'

In [85]:
#48. Create a tuple of the first `n` triangular numbers.
n=10
tup_tri=tuple(int(i*(i+1)/2) for i in range(n))
tup_tri

(0, 1, 3, 6, 10, 15, 21, 28, 36, 45)

In [89]:
#49. Check if a tuple contains another tuple as a subsequence.
def sub_tup_seq(main_tup,sub_tup):
    for i in range(len(main_tup)-len(sub_tup)+1):
        if main_tup[i:i+len(sub_tup)]==sub_tup:
            return True
    return False
main_tup=(1,2,3,4,56,67,43,34)
sub_tup=(56,67)

print(sub_tup_seq(main_tup,sub_tup))

True

In [91]:
#50. Create a tuple of alternating 1s and 0s of length `n`
n=10
tup=tuple(i%2 for i in range(n))
tup

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [ ]:
##--------------------------------Set Based Practice Problem :----------------------------------

In [108]:
#1. Create a set with integers from 1 to 5.
s1=set([num for num in range(1,6)])
s1

{1, 2, 3, 4, 5}

In [109]:
#2. Add an element to a set.
s1.add(6)
s1

{1, 2, 3, 4, 5, 6}

In [110]:
#3. Remove an element from a set.
s1.remove(4)
s1

{1, 2, 3, 5, 6}

In [116]:
#4. Check if an element exists in a set.
ele=5
for i in s1:
    if i==ele:
        print("yes")

yes

In [117]:
#5. Find the length of a set without using the `len()` function.
s1={1,2,3,5,6,7,9}
len_set=0
for i in s1:
    len_set+=1
print(len_set)

7

In [119]:
#6. Clear all elements from a set.
s1.clear()
s1

set()

In [120]:
#7. Create a set of even numbers from 1 to 10.
s1=set(num for num in range(1,11) if num%2==0)
s1

{2, 4, 6, 8, 10}

In [121]:
#8. Create a set of odd numbers from 1 to 10.
s1=set(num for num in range(1,11) if num%2!=0)
s1

{1, 3, 5, 7, 9}

In [126]:
#9. Find the union of two sets.
s1={1,2,3,4,8}
s2={4,5,6,7,8}
s=s1.union(s2)
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [127]:
#10. Find the intersection of two sets.
s=s1.intersection(s2)
s

{4, 8}

In [129]:
#11. Find the difference between two sets.
s=s2.difference(s1)
s

{5, 6, 7}

In [132]:
#12. Check if a set is a subset of another set.
s1={1,2,3,4,5,6,7,8,9}
s2={4,5,6,7}
s2.issubset(s1)

True

In [134]:
#13. Check if a set is a superset of another set.
s1={1,2,3,4,5,6,7,8,9}
s2={4,5,6,7}
s1.issuperset(s2)

True

In [135]:
#14. Create a set from a list.
lt=[1,2,3,4,5,6,6754,324,3,12,233,445,45,6]
s1=set(lt)
s1

{1, 2, 3, 4, 5, 6, 12, 45, 233, 324, 445, 6754}

In [136]:
#15. Convert a set to a list.
print(list(s1))

[1, 2, 3, 4, 5, 6, 6754, 324, 233, 12, 45, 445]

In [143]:
#16. Remove a random element from a set.
print(s1.remove(4))
s1

None

{3, 5, 12, 45, 233, 324, 445}

In [146]:
#17. Pop an element from a set.
s1.pop()
s1

{12, 45, 233, 324, 445}

In [147]:
#18. Check if two sets have no elements in common.
s1.intersection(s2)

set()

In [148]:
#19. Find the symmetric difference between two sets.
s1={1,2,3,4,5,6}
s2={2,32,3,45,7,8,5}
s=s1^s2
s

{1, 4, 6, 7, 8, 32, 45}

In [6]:
#20. Update a set with elements from another set.
s1={1,2,3,4}
s2={3,4,5,6,7}
s1.update(s2)
s1

{1, 2, 3, 4, 5, 6, 7}

In [11]:
#21. Create a set of the first 5 prime numbers.
def is_prime(num):
    if num<=1:
        return False
    for i in range(2,int(num**.5)+1):
        if num%i==0:
            return False
    return True

prime_num=[num for num in range(100) if is_prime(num)][:5]
print(set(prime_num))

{2, 3, 5, 7, 11}

In [20]:
#22. Check if two sets are identical.
s1==s2

False

In [21]:
#23. Create a frozen set.
li=[1,2,3,4,5]
s1=frozenset(li)
s1

frozenset({1, 2, 3, 4, 5})

In [23]:
#24. Check if a set is disjoint with another set.
s1={1,2,3,4,5}
s2={6,7,8}
s1.isdisjoint(s2)

True

In [24]:
#25. Create a set of squares of numbers from 1 to 5.
s1=set(i*i for i in range(1,6))
s1

{1, 4, 9, 16, 25}

In [25]:
#26. Filter out all even numbers from a set.
s1={1,2,3,4,5,6,7,8,10,34,46,6,879,8,89}
s1_ev_out=set(num for num in s1 if num%2!=0)
s1_ev_out

{1, 3, 5, 7, 89, 879}

In [26]:
#27. Multiply all elements in a set by 2.
set1=set(i*2 for i in s1)
set1

{2, 4, 6, 8, 10, 12, 14, 16, 20, 68, 92, 178, 1758}

In [29]:
#28. Create a set of random numbers.
import random
s3=set(random.randint(1,100) for i in range(10))
s3

{7, 30, 39, 40, 41, 72, 84, 85, 94, 99}

In [30]:
#29. Check if a set is empty.
s1=set()
s1

set()

In [36]:
#30. Create a nested set (hint: use frozenset).
s1={1,2,3,4}
s2={4,5,6,7}
f_s1=frozenset(s1)
f_s2=frozenset(s2)
n_s={f_s1,f_s2}
n_s

{frozenset({1, 2, 3, 4}), frozenset({4, 5, 6, 7})}

In [40]:
#31. Remove an element from a set using the discard method.
s1={1,2,3,4,5,6,7}
s1.discard(4)
s1

{1, 2, 3, 5, 6, 7}

In [46]:
#32. Compare two sets.
s1={1,2,3,4,5,6,7,8,9}
s2={5,6,7,8,9,10,12,43,56,6845,24,46,67}
print(s1.issubset(s2))
print(s1.issuperset(s2))
print(s1.intersection(s2))
print(s1.union(s2))
print(s1.difference(s2))
print(s2.difference(s1))

False
False
{5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 67, 10, 12, 24, 43, 46, 56, 6845}
{1, 2, 3, 4}
{67, 10, 43, 12, 46, 56, 24, 6845}

In [47]:
#33. Create a set from a string.
string="pwskills"
s1=set(string)
s1

{'i', 'k', 'l', 'p', 's', 'w'}

In [50]:
#34. Convert a set of strings to a set of integers.
s1={'1','2','3','4','5'}
s2=set(int(i) for i in s1)
s2

{1, 2, 3, 4, 5}

In [52]:
#35. Convert a set of integers to a set of strings.
s3=set(str(i) for i in s2)
s3

{'1', '2', '3', '4', '5'}

In [53]:
#36. Create a set from a tuple.
tup=(1,2,3,4,5,64,5,3,62,2,32,46,65,678)
s1=set(tup)
s1

{1, 2, 3, 4, 5, 32, 46, 62, 64, 65, 678}

In [54]:
#37. Convert a set to a tuple.
tup1=tuple(s1)
tup1

(64, 1, 2, 3, 4, 5, 32, 65, 678, 46, 62)

In [56]:
#38. Find the maximum value in a set.
s1
print(max(s1))

678

In [57]:
#39. Find the minimum value in a set.
print(min(s1))

1

In [58]:
#40. Create a set from user input.
s1=set(input("enter set elements"))
s1

enter set elements 1234567

{'1', '2', '3', '4', '5', '6', '7'}

In [59]:
#41. Check if the intersection of two sets is empty.
s1.intersection(s2)

set()

In [60]:
#42. Create a set of the first 5 Fibonacci numbers.
def fib_num(n):
    if n<=1:
        return n
    else:
        return fib_num(n-1)+fib_num(n-2)
    
fib_series=set(fib_num(i) for i in range(6))
fib_series

{0, 1, 2, 3, 5}

In [61]:
#43. Remove duplicates from a list using sets.
l=[1,2,3,4,5,67,2,3,4,5,67,45678]
s1=set(l)
list(s1)

[1, 2, 3, 4, 5, 67, 45678]

In [64]:
#44. Check if two sets have the same elements, regardless of their count.
s1={1,2,3,4,5,4,3,2}
s2={5,4,3,2,1,2,3,4,2,5,3,4,1,3}
print(s1==s2)

True

In [65]:
#45. Create a set of the first `n` powers of 2.
n=10
s1=set(2**i for i in range(n))
s1

{1, 2, 4, 8, 16, 32, 64, 128, 256, 512}

In [68]:
#46. Find the common elements between a set and a list.
lt=[1,2,3,4,5,23,23,3,4,5]
s1={1,2,3,34,23}
com_ele=s1.intersection(lt)
com_ele

{1, 2, 3, 23}

In [69]:
#47. Create a set of the first `n` triangular numbers.
s1=set(int(i*(i+1)/2) for i in range(n))
n=10
s1

{0, 1, 3, 6, 10, 15, 21, 28, 36, 45}

In [70]:
#48. Check if a set contains another set as a subset.
s1={9,3,7,4,55,24,76,7923,3,667}
s2={3,7,667,3,55,24}
s2.issubset(s1)

True

In [71]:
#49. Create a set of alternating 1s and 0s of length `n`.
s1=set(i%2 for i in range(n))
n=10
s1

{0, 1}

In [74]:
#50. Merge multiple sets into one.
s1={1,2,3}
s2={4,5,6}
s3={7,8,9}
s=s1.union(s2,s3)
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#---------------------------------------end of Assignment 2----------------------------------------------------